.payPanel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  grid-column-start: 2;
  grid-column-end: -2;
  min-height: 0;
  padding: 8px;
}
.tabContent___7Zg3H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__xyS2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xyS2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__w6Qxw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__w6Qxw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__w6Qxw > :global(.__wab_flex-container) > *,
.freeBox__w6Qxw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6Qxw > :global(.__wab_flex-container) > picture > img,
.freeBox__w6Qxw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6Qxw {
    display: flex;
  }
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-l-1COI_6w);
  height: 4px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: calc(-8px + 6px) !important;
}
.tabButton__m2R0D:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text___1YmY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 0;
}
.tabButton__ux9Rb:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__wq7RA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 0;
}
.tabButton___2Wk6H:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text___8BAdH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 0;
}
.freeBox__tSjli {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___8UdWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 13px;
  background: var(--token-tsAjOKoWUS);
  color: var(--token-mHGy3iJMuj);
  min-width: 0;
}
.freeBox__ahXJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ahXJ {
    display: flex;
  }
}
.tabContent___9DMok:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__o36Si {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__m5B91 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width: 600px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 24px;
  align-self: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m5B91 {
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
.price1:global(.__wab_instance) {
  position: relative;
  min-width: 120px;
}
.text__yWjc3 {
  padding-right: 0px;
}
.price2:global(.__wab_instance) {
  position: relative;
  min-width: 120px;
}
.btn1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin-right: 0px;
}
.svg__fkCkC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xApM3 {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__qipE6 {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 164px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  background: var(--token-8jk2BfOx3);
  border-radius: 8px;
  padding: 24px;
  margin: 36px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipE6 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox___1CsOm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___1CsOm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1CsOm > :global(.__wab_flex-container) > *,
.freeBox___1CsOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1CsOm > :global(.__wab_flex-container) > picture > img,
.freeBox___1CsOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__bEk91 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__tqUj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___5W8Zo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___5W8Zo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5W8Zo > :global(.__wab_flex-container) > *,
.freeBox___5W8Zo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5W8Zo > :global(.__wab_flex-container) > picture > img,
.freeBox___5W8Zo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon2:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__naa52 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__jyl7D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__h90L {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__h90L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__h90L > :global(.__wab_flex-container) > *,
.freeBox__h90L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h90L > :global(.__wab_flex-container) > picture > img,
.freeBox__h90L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__oZuAx {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__maicM {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text___9AbeZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__calxE {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__calxE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__calxE > :global(.__wab_flex-container) > *,
.freeBox__calxE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__calxE > :global(.__wab_flex-container) > picture > img,
.freeBox__calxE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__jlRK {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__mHlR {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__dUq9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__eJHsI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__eJHsI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eJHsI > :global(.__wab_flex-container) > *,
.freeBox__eJHsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJHsI > :global(.__wab_flex-container) > picture > img,
.freeBox__eJHsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__uq9Z {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__fxfUt {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__qENuG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__a4UD8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__a4UD8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__a4UD8 > :global(.__wab_flex-container) > *,
.freeBox__a4UD8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a4UD8 > :global(.__wab_flex-container) > picture > img,
.freeBox__a4UD8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ql3Z {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__jt6QT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__ahe1N {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tabContent___3YRlf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__stUcM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___0YoCn {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width: 600px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 24px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0YoCn {
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
.price3:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .price3:global(.__wab_instance) {
    min-width: 120px;
  }
}
.text__gAub8 {
  padding-right: 0px;
}
.price4:global(.__wab_instance) {
  position: relative;
}
.btn2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin-right: 0px;
}
.svg__rsGGh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7Dk6G {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__cwcDz {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 164px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  background: var(--token-8jk2BfOx3);
  border-radius: 8px;
  padding: 24px;
  margin: 36px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cwcDz {
    grid-column-gap: 16px;
  }
}
.freeBox__zev9G {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__zev9G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zev9G > :global(.__wab_flex-container) > *,
.freeBox__zev9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zev9G > :global(.__wab_flex-container) > picture > img,
.freeBox__zev9G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon3:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__ta4Af {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__c8NPc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__g9L3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__g9L3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__g9L3 > :global(.__wab_flex-container) > *,
.freeBox__g9L3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g9L3 > :global(.__wab_flex-container) > picture > img,
.freeBox__g9L3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon4:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__n1W3 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__h7Dm2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__siqNn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__siqNn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__siqNn > :global(.__wab_flex-container) > *,
.freeBox__siqNn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__siqNn > :global(.__wab_flex-container) > picture > img,
.freeBox__siqNn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yLtIt {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__xDb3Z {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__v5HXt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__eJfg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__eJfg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eJfg > :global(.__wab_flex-container) > *,
.freeBox__eJfg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eJfg > :global(.__wab_flex-container) > picture > img,
.freeBox__eJfg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ayVov {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__s6Gx0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text___3YFeb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__p80K0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__p80K0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__p80K0 > :global(.__wab_flex-container) > *,
.freeBox__p80K0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p80K0 > :global(.__wab_flex-container) > picture > img,
.freeBox__p80K0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__zGYxJ {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__jL0Zs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__q6Fi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__gvUsz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__gvUsz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gvUsz > :global(.__wab_flex-container) > *,
.freeBox__gvUsz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gvUsz > :global(.__wab_flex-container) > picture > img,
.freeBox__gvUsz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yjeTq {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg___4SpGg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__hN4Si {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tabContent___6LOii:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yrawp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6BbBz {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width: 600px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 24px;
  padding: 8px;
}
.price5:global(.__wab_instance) {
  position: relative;
}
.text__dkh1C {
  padding-right: 0px;
}
.price6:global(.__wab_instance) {
  position: relative;
}
.btn3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin-right: 0px;
}
.svg___1VvLu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ukLy4 {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__mYsq {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 164px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  background: var(--token-8jk2BfOx3);
  border-radius: 8px;
  padding: 24px;
  margin: 36px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYsq {
    grid-column-gap: 16px;
  }
}
.freeBox__eVxEw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__eVxEw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eVxEw > :global(.__wab_flex-container) > *,
.freeBox__eVxEw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eVxEw > :global(.__wab_flex-container) > picture > img,
.freeBox__eVxEw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon5:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__mYuSj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__as3C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sIn6A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__sIn6A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sIn6A > :global(.__wab_flex-container) > *,
.freeBox__sIn6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sIn6A > :global(.__wab_flex-container) > picture > img,
.freeBox__sIn6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon6:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__hf009 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__qwUxm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___82V9H {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___82V9H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___82V9H > :global(.__wab_flex-container) > *,
.freeBox___82V9H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___82V9H > :global(.__wab_flex-container) > picture > img,
.freeBox___82V9H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ceSbu {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__kRcrg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__nkQkX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__o67U {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__o67U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__o67U > :global(.__wab_flex-container) > *,
.freeBox__o67U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o67U > :global(.__wab_flex-container) > picture > img,
.freeBox__o67U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__vPzy6 {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__nsAoE {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__pYgGk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__syJ2O {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__syJ2O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__syJ2O > :global(.__wab_flex-container) > *,
.freeBox__syJ2O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__syJ2O > :global(.__wab_flex-container) > picture > img,
.freeBox__syJ2O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__c5Mq {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg__bvnei {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__hSvjv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___6Syly {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___6Syly > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___6Syly > :global(.__wab_flex-container) > *,
.freeBox___6Syly > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Syly > :global(.__wab_flex-container) > picture > img,
.freeBox___6Syly
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__m4LfM {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100%
      repeat,
    var(--token-47ovROB-Xr2C);
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  border-radius: 14px;
  padding: 6px;
}
.svg___25QMi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.text__xta5E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__qChkw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qChkw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__qChkw > :global(.__wab_flex-container) > *,
.freeBox__qChkw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qChkw > :global(.__wab_flex-container) > picture > img,
.freeBox__qChkw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.aliPayBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aQhL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__b71Yx {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.wechatPayBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iZ3LC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__okBak {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__x1GWq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  min-width: 0;
}
