.base {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.label {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  background: var(--token-QRin4DwcgZ4-);
  min-width: 0;
  border-radius: 3px;
  padding: 4px 8px;
  border: 1px solid var(--token-oG1h6iK0g);
}
.icon2 {
  display: flex;
  position: relative;
  margin-right: 4px;
}
.svg__ok1Hx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 12px;
  text-align: center;
}
