.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.bkgd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-8jk2BfOx3);
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.navMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navMenu:global(.__wab_instance) {
    display: flex;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 8px 0px;
}
:where(.section > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding-left: 0px;
    max-width: 445px;
    width: 100%;
    padding-right: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section > *) {
    grid-column: 4;
  }
}
.freeBox__xEHmj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 92vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 8px 8px 0px;
}
.freeBox__xEHmj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xEHmj > :global(.__wab_flex-container) > *,
.freeBox__xEHmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xEHmj > :global(.__wab_flex-container) > picture > img,
.freeBox__xEHmj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xEHmj {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xEHmj > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xEHmj > :global(.__wab_flex-container) > *,
  .freeBox__xEHmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xEHmj > :global(.__wab_flex-container) > picture > img,
  .freeBox__xEHmj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.aside {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  min-height: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aside {
    height: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
    max-width: none;
    min-width: 0;
  }
}
.tabTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px 0px 0px 26px;
}
.tabTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tabTitle > :global(.__wab_flex-container) > *,
.tabTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabTitle > :global(.__wab_flex-container) > picture > img,
.tabTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tabTitle {
    padding-top: 0px;
    display: none;
  }
}
.text___1Lu3A {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: var(--token-WgGKuDBDe);
  line-height: 1.2;
  font-weight: 300;
  min-width: 0;
}
.svg__w7V4K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 12px;
  align-self: center;
  color: var(--token-WgGKuDBDe);
  flex-shrink: 0;
}
.scenesTabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 4px 0px 8px;
}
.scenesTabs > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.scenesTabs > :global(.__wab_flex-container) > *,
.scenesTabs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.scenesTabs > :global(.__wab_flex-container) > picture > img,
.scenesTabs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #ffffff;
    padding-top: 4px;
    padding-bottom: 0px;
    overflow: auto;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    right: 0px;
    max-width: none;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs > :global(.__wab_flex-container) {
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs > :global(.__wab_flex-container) > *,
  .scenesTabs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .scenesTabs > :global(.__wab_flex-container) > picture > img,
  .scenesTabs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
.sideTagsMenu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 787px;
  background: #ffffff00;
  overflow: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideTagsMenu:global(.__wab_instance) {
    height: 32px;
    overflow: auto;
    display: flex;
    width: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
    max-width: none;
  }
}
.menuItem__arflz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 12px;
  line-height: 1;
  height: 24px;
  align-self: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItem__arflz:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__k7WoQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 6px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__k7WoQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__k7WoQ > :global(.__wab_flex-container) > *,
.freeBox__k7WoQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k7WoQ > :global(.__wab_flex-container) > picture > img,
.freeBox__k7WoQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__etT4W {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text___3KKtY {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  min-width: 0;
}
.menuDivider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuDivider:global(.__wab_instance) {
    display: none;
  }
}
.menuItem__bO9Gb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 12px;
  line-height: 1;
  height: 24px;
  align-self: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItem__bO9Gb:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___7LgA3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 6px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox___7LgA3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___7LgA3 > :global(.__wab_flex-container) > *,
.freeBox___7LgA3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7LgA3 > :global(.__wab_flex-container) > picture > img,
.freeBox___7LgA3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__v7Yzd {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__dTmxF {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.menuItem___0LrkP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 12px;
  line-height: 1;
  height: 24px;
  align-self: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItem___0LrkP:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__xnGe {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 6px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__xnGe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__xnGe > :global(.__wab_flex-container) > *,
.freeBox__xnGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnGe > :global(.__wab_flex-container) > picture > img,
.freeBox__xnGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__o9Lr {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__rUJ2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  min-width: 0;
}
.menuItem__lnRmj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 13px;
  line-height: 1;
  height: 24px;
  align-self: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItem__lnRmj:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__rSsuy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 6px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__rSsuy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__rSsuy > :global(.__wab_flex-container) > *,
.freeBox__rSsuy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rSsuy > :global(.__wab_flex-container) > picture > img,
.freeBox__rSsuy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__prXkv {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__oiZj {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  padding-right: 0px;
  min-width: 0;
}
.menuItem__j7D03:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 13px;
  line-height: 1;
  height: 24px;
  align-self: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItem__j7D03:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__z35UJ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 6px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__z35UJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__z35UJ > :global(.__wab_flex-container) > *,
.freeBox__z35UJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z35UJ > :global(.__wab_flex-container) > picture > img,
.freeBox__z35UJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__q7BTx {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__gSad {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  line-height: 1;
  min-width: 0;
}
.svg__tGgEz {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__aWlrv {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  right: 3px;
  bottom: 0;
  flex-direction: column;
  background: linear-gradient(98deg, #e2f9e2 0%, #fdffe9 100%) 0% 0% / 100% 100%
      repeat,
    #ededed;
  min-width: 100px;
  justify-content: space-evenly;
  border-radius: 4px;
  padding: 12px 10px;
  margin: 4px 4px 16px;
  border: 1px solid var(--token-R0SUfsNirUr0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aWlrv {
    display: none;
  }
}
.text__li5Gw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 10px;
  background: none;
  color: var(--token-WgGKuDBDe);
  min-width: 0;
  padding: 0px 4px;
}
.text___6A5Pc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  background: none;
  min-width: 0;
  padding: 0px 4px;
}
.line {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-oG1h6iK0g);
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text__ieywc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 14px;
  min-width: 0;
  padding: 4px;
}
.text___2Ov4U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  padding-left: 8px;
  background: var(--token-hS7e36A1nc);
  padding-right: 8px;
  align-self: flex-start;
  color: #ffffff;
  border-radius: 12px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    grid-column-gap: 8px;
  }
}
.sceneInfo__zigmA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.text__miKH {
  align-self: flex-start;
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lYmX8 {
  margin-top: 4px;
  white-space: pre-wrap;
  user-select: none;
  text-align: justify;
  color: var(--token-rqDJQlRsV);
  font-size: 13px;
}
.sceneInfo__ok60U:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__qdlmq:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__dtd5A:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__bu96:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__maa04:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__dKhQ2:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.toolbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .toolbar:global(.__wab_instance) {
    position: fixed;
    left: 0;
    top: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: flex;
  }
}
