.blockText {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: var(--token-QRin4DwcgZ4-);
  position: relative;
  min-width: 0;
  padding: 8px 8px 8px 16px;
  border: 3px solid #dadad95c;
}
.blockTextcurrentState {
  background: #ffffff;
  border-left-color: var(--token-hS7e36A1nc);
}
.prompt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 14px;
  margin-bottom: 24px;
  color: var(--token-rqDJQlRsV);
  margin-top: 0px;
  white-space: pre-wrap;
  min-width: 0;
}
.promptcurrentState {
  color: var(--token-mHGy3iJMuj);
}
.freeBox__yp9Pl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__kfXdL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__sffSf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__sffSf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sffSf > :global(.__wab_flex-container) > *,
.freeBox__sffSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sffSf > :global(.__wab_flex-container) > picture > img,
.freeBox__sffSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBoxcurrentState__sffSfMo5 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBoxcurrentState__sffSfMo5 > :global(.__wab_flex-container) > *,
.freeBoxcurrentState__sffSfMo5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxcurrentState__sffSfMo5 > :global(.__wab_flex-container) > picture > img,
.freeBoxcurrentState__sffSfMo5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 4px;
}
.createdAt {
  width: auto;
  height: auto;
  max-width: 100%;
  line-height: 1;
  white-space: pre;
  font-size: 11px;
  color: #a2a2a2;
  user-select: none;
}
.sceneName {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  color: var(--token-WgGKuDBDe);
  background: var(--token-oG1h6iK0g);
  align-self: flex-start;
  user-select: none;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 8px;
  padding: 0px 4px;
}
.sceneNamecurrentState {
  width: auto;
  align-self: flex-start;
  background: var(--token-SmdgsD8KK);
  padding-left: 4px;
  padding-right: 8px;
  color: var(--token-hS7e36A1nc);
  border-radius: 8px;
}
.favIcon:global(.__wab_instance) {
  position: relative;
  align-self: center;
  z-index: 1000;
  flex-shrink: 0;
  margin: 4px 0px 4px 4px;
}
.deleteIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  margin-left: 8px;
  color: var(--token-FMGQEiyNQ);
  cursor: pointer;
  z-index: 1000;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.modalDelete:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__w8N3X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
