.payPanel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  grid-column-start: 3;
  grid-column-end: -3;
  min-height: 0;
  padding: 8px;
}
.tabContent___7Zg3H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__xyS2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xyS2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__w6Qxw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__w6Qxw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__w6Qxw > :global(.__wab_flex-container) > *,
.freeBox__w6Qxw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6Qxw > :global(.__wab_flex-container) > picture > img,
.freeBox__w6Qxw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6Qxw {
    display: flex;
  }
}
.tabUnderline:global(.__wab_instance) {
  background: #51e005;
  height: 4px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: calc(-8px + 6px) !important;
  border-radius: 2px;
}
.tabButton__m2R0D:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text___1YmY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 0;
}
.tabButton___2Wk6H:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text___8BAdH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 0;
}
.freeBox__tSjli {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___8UdWd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 13px;
  background: none;
  color: #595959;
  align-self: center;
}
.freeBox__ahXJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ahXJ {
    display: flex;
  }
}
.tabContent___9DMok:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__o36Si {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__m5B91 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width: 600px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 24px;
  align-self: center;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m5B91 {
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
.price1:global(.__wab_instance) {
  position: relative;
  min-width: 120px;
}
.text__yWjc3 {
  padding-right: 0px;
}
.price2:global(.__wab_instance) {
  position: relative;
  min-width: 120px;
}
.btn1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin-right: 0px;
}
.svg__fkCkC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xApM3 {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__qipE6 {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 164px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  background: var(--token-8jk2BfOx3);
  border-radius: 8px;
  padding: 24px;
  margin: 36px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qipE6 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox___1CsOm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___1CsOm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1CsOm > :global(.__wab_flex-container) > *,
.freeBox___1CsOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1CsOm > :global(.__wab_flex-container) > picture > img,
.freeBox___1CsOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .icon:global(.__wab_instance) {
    align-self: flex-start;
    margin-left: calc(0px + 8px) !important;
  }
}
.svg__bEk91 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__tqUj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___2SEy1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___2SEy1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2SEy1 > :global(.__wab_flex-container) > *,
.freeBox___2SEy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2SEy1 > :global(.__wab_flex-container) > picture > img,
.freeBox___2SEy1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2SEy1 {
    left: auto;
    top: auto;
  }
}
.icon7:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .icon7:global(.__wab_instance) {
    align-self: flex-start;
    margin-left: calc(0px + 8px) !important;
  }
}
.svg__xoUY {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text___9X0Z3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___1RjDd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___1RjDd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1RjDd > :global(.__wab_flex-container) > *,
.freeBox___1RjDd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1RjDd > :global(.__wab_flex-container) > picture > img,
.freeBox___1RjDd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1RjDd {
    left: auto;
    top: auto;
  }
}
.icon8:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__zhMmy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__xGsea {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___5W8Zo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___5W8Zo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5W8Zo > :global(.__wab_flex-container) > *,
.freeBox___5W8Zo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5W8Zo > :global(.__wab_flex-container) > picture > img,
.freeBox___5W8Zo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon2:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__naa52 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__jyl7D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___9Z8X {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox___9Z8X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___9Z8X > :global(.__wab_flex-container) > *,
.freeBox___9Z8X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Z8X > :global(.__wab_flex-container) > picture > img,
.freeBox___9Z8X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Z8X {
    left: auto;
    top: auto;
  }
}
.icon9:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg___7TOjv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__rGacQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__aRsus {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__aRsus > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aRsus > :global(.__wab_flex-container) > *,
.freeBox__aRsus > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aRsus > :global(.__wab_flex-container) > picture > img,
.freeBox__aRsus
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRsus {
    left: auto;
    top: auto;
  }
}
.icon10:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__fwBx8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__hsuq6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tabContent___6LOii:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yrawp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6BbBz {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  width: 600px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 24px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6BbBz {
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
.price5:global(.__wab_instance) {
  position: relative;
}
.text__dkh1C {
  padding-right: 0px;
}
.price6:global(.__wab_instance) {
  position: relative;
}
.btn3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin-right: 0px;
}
.svg___1VvLu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ukLy4 {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__mYsq {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 24px;
  grid-column-gap: 164px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  background: var(--token-8jk2BfOx3);
  border-radius: 8px;
  padding: 24px;
  margin: 36px 12px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mYsq {
    grid-column-gap: 16px;
  }
}
.freeBox__eVxEw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__eVxEw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eVxEw > :global(.__wab_flex-container) > *,
.freeBox__eVxEw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eVxEw > :global(.__wab_flex-container) > picture > img,
.freeBox__eVxEw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon5:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__mYuSj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__as3C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sIn6A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__sIn6A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sIn6A > :global(.__wab_flex-container) > *,
.freeBox__sIn6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sIn6A > :global(.__wab_flex-container) > picture > img,
.freeBox__sIn6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.icon6:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__hf009 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__qwUxm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sUkS7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__sUkS7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sUkS7 > :global(.__wab_flex-container) > *,
.freeBox__sUkS7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sUkS7 > :global(.__wab_flex-container) > picture > img,
.freeBox__sUkS7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sUkS7 {
    left: auto;
    top: auto;
  }
}
.icon13:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__vifXb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__avz3I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__xpINl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  padding: 8px;
}
.freeBox__xpINl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xpINl > :global(.__wab_flex-container) > *,
.freeBox__xpINl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xpINl > :global(.__wab_flex-container) > picture > img,
.freeBox__xpINl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpINl {
    left: auto;
    top: auto;
  }
}
.icon14:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  margin-right: 0px;
}
.svg__uJp8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  height: 1em;
}
.text__rzVx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__qChkw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qChkw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__qChkw > :global(.__wab_flex-container) > *,
.freeBox__qChkw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qChkw > :global(.__wab_flex-container) > picture > img,
.freeBox__qChkw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.aliPayBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__aQhL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__b71Yx {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.wechatPayBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iZ3LC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__okBak {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__x1GWq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  min-width: 0;
}
