.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wpdfR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__kKfRk {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__kKfRk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKfRk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKfRk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kKfRk > :global(.__wab_flex-container) > *,
  .freeBox__kKfRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kKfRk > :global(.__wab_flex-container) > picture > img,
  .freeBox__kKfRk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___0OzX {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0OzX {
    border-radius: 16px;
  }
}
.freeBox___3X7E {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___3X7E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3X7E > :global(.__wab_flex-container) > *,
.freeBox___3X7E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3X7E > :global(.__wab_flex-container) > picture > img,
.freeBox___3X7E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nwzQf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__wyOja {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__wyOja > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wyOja > :global(.__wab_flex-container) > *,
.freeBox__wyOja > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wyOja > :global(.__wab_flex-container) > picture > img,
.freeBox__wyOja
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___2Uvu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__morV {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__zz2IL {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  font-size: 20px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__zwUuc {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__xSpl {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox__xSpl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xSpl > :global(.__wab_flex-container) > *,
.freeBox__xSpl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xSpl > :global(.__wab_flex-container) > picture > img,
.freeBox__xSpl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vbgN9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vbgN9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vbgN9 > :global(.__wab_flex-container) > *,
.freeBox__vbgN9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbgN9 > :global(.__wab_flex-container) > picture > img,
.freeBox__vbgN9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__of702 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__of702 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__of702 > :global(.__wab_flex-container) > *,
.freeBox__of702 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__of702 > :global(.__wab_flex-container) > picture > img,
.freeBox__of702
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__uYtZ {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__rqGss {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__aoMtO {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__ye2En {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qs7EO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qs7EO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qs7EO > :global(.__wab_flex-container) > *,
.freeBox__qs7EO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qs7EO > :global(.__wab_flex-container) > picture > img,
.freeBox__qs7EO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ff2A9 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___3B50E {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gepOj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__gepOj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gepOj > :global(.__wab_flex-container) > *,
.freeBox__gepOj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gepOj > :global(.__wab_flex-container) > picture > img,
.freeBox__gepOj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cs0YA {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__g6Oc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__lhUyr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___32Pvy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__zgIl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zgIl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__zgIl > :global(.__wab_flex-container) > *,
.freeBox__zgIl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zgIl > :global(.__wab_flex-container) > picture > img,
.freeBox__zgIl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__jFtwa {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__mi6CQ {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__b552B {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__b552B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b552B > :global(.__wab_flex-container) > *,
.freeBox__b552B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b552B > :global(.__wab_flex-container) > picture > img,
.freeBox__b552B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aIubn {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__g3QOh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__gCm9C {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__tgoer {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__e7DxX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__e7DxX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__e7DxX > :global(.__wab_flex-container) > *,
.freeBox__e7DxX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e7DxX > :global(.__wab_flex-container) > picture > img,
.freeBox__e7DxX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__mzEa {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__atYj {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__sjhEo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__o5UY {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  height: auto;
}
.svg__l5NOo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yrAzZ {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__yy3Gx {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  border-radius: 16px;
  border: 4px solid #34c759;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yy3Gx {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBoxswitchOn__yy3GxETDa {
  height: 100%;
  min-height: 0;
}
.freeBox__z5Nz {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__z5Nz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__z5Nz > :global(.__wab_flex-container) > *,
.freeBox__z5Nz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z5Nz > :global(.__wab_flex-container) > picture > img,
.freeBox__z5Nz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBoxswitchOn__z5NzETDa {
  height: 100%;
  min-height: 0;
}
.freeBoxswitchOn__z5NzETDa > :global(.__wab_flex-container) {
  min-height: 0;
}
.text__wTfNi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__lu5Vc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lu5Vc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lu5Vc > :global(.__wab_flex-container) > *,
.freeBox__lu5Vc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lu5Vc > :global(.__wab_flex-container) > picture > img,
.freeBox__lu5Vc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__yTkcP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__b8QYo {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
}
.text__iCggy {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dbLiH {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zuakT {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__zuakT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zuakT > :global(.__wab_flex-container) > *,
.freeBox__zuakT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zuakT > :global(.__wab_flex-container) > picture > img,
.freeBox__zuakT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kSnX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kSnX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kSnX > :global(.__wab_flex-container) > *,
.freeBox__kSnX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kSnX > :global(.__wab_flex-container) > picture > img,
.freeBox__kSnX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__acwUi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__acwUi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__acwUi > :global(.__wab_flex-container) > *,
.freeBox__acwUi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acwUi > :global(.__wab_flex-container) > picture > img,
.freeBox__acwUi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___5AaoR {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__xXMku {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__oNKkz {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__mWlgl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__kXuKd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kXuKd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__kXuKd > :global(.__wab_flex-container) > *,
.freeBox__kXuKd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kXuKd > :global(.__wab_flex-container) > picture > img,
.freeBox__kXuKd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___9Jlzd {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__iCOss {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rk9R {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rk9R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rk9R > :global(.__wab_flex-container) > *,
.freeBox__rk9R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rk9R > :global(.__wab_flex-container) > picture > img,
.freeBox__rk9R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__eYsUz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__z0S8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__q4VY {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__aQZvv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lnkuq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lnkuq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lnkuq > :global(.__wab_flex-container) > *,
.freeBox__lnkuq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lnkuq > :global(.__wab_flex-container) > picture > img,
.freeBox__lnkuq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___2Ww7N {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4Hfdd {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___6TOoU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___6TOoU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6TOoU > :global(.__wab_flex-container) > *,
.freeBox___6TOoU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6TOoU > :global(.__wab_flex-container) > picture > img,
.freeBox___6TOoU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__kn4Dk {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__mPh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__vsfM0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__kcFoa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__zZcmw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zZcmw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__zZcmw > :global(.__wab_flex-container) > *,
.freeBox__zZcmw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zZcmw > :global(.__wab_flex-container) > picture > img,
.freeBox__zZcmw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__ay9Ca {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__pHPul {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__wEvDc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__wEvDc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wEvDc > :global(.__wab_flex-container) > *,
.freeBox__wEvDc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wEvDc > :global(.__wab_flex-container) > picture > img,
.freeBox__wEvDc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___32ReA {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__tzixf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__imt2P {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___7Mjx9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___5P0Ao {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5P0Ao > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5P0Ao > :global(.__wab_flex-container) > *,
.freeBox___5P0Ao > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5P0Ao > :global(.__wab_flex-container) > picture > img,
.freeBox___5P0Ao
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__xw5Se {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__yzIC {
  height: auto;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__m9VWj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__mj73 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eJcl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bka0S {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox___58AgS {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___58AgS {
    width: 100%;
    min-width: 0;
    border-radius: 16px;
  }
}
.freeBox__o3QiS {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__o3QiS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__o3QiS > :global(.__wab_flex-container) > *,
.freeBox__o3QiS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o3QiS > :global(.__wab_flex-container) > picture > img,
.freeBox__o3QiS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__g5WG5 {
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__gZc7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gZc7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gZc7 > :global(.__wab_flex-container) > *,
.freeBox__gZc7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gZc7 > :global(.__wab_flex-container) > picture > img,
.freeBox__gZc7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ffeWi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__btZv9 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9;
  width: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__hbsgJ {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__spXem {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__chWQw {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox__chWQw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__chWQw > :global(.__wab_flex-container) > *,
.freeBox__chWQw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__chWQw > :global(.__wab_flex-container) > picture > img,
.freeBox__chWQw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__soaFm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__soaFm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__soaFm > :global(.__wab_flex-container) > *,
.freeBox__soaFm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__soaFm > :global(.__wab_flex-container) > picture > img,
.freeBox__soaFm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ajq7S {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ajq7S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ajq7S > :global(.__wab_flex-container) > *,
.freeBox__ajq7S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ajq7S > :global(.__wab_flex-container) > picture > img,
.freeBox__ajq7S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__gntRz {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__titof {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__bMXx {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__on3Gz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__omtEx {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__omtEx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__omtEx > :global(.__wab_flex-container) > *,
.freeBox__omtEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__omtEx > :global(.__wab_flex-container) > picture > img,
.freeBox__omtEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__nd1F4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__oT7Wv {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__veYSr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__veYSr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__veYSr > :global(.__wab_flex-container) > *,
.freeBox__veYSr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__veYSr > :global(.__wab_flex-container) > picture > img,
.freeBox__veYSr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___4Bmah {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__gLkhM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__uaP3A {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__n7Yk {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__nv6XT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nv6XT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nv6XT > :global(.__wab_flex-container) > *,
.freeBox__nv6XT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nv6XT > :global(.__wab_flex-container) > picture > img,
.freeBox__nv6XT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__zhkJg {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__botAr {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hZfRu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__hZfRu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hZfRu > :global(.__wab_flex-container) > *,
.freeBox__hZfRu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hZfRu > :global(.__wab_flex-container) > picture > img,
.freeBox__hZfRu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__shVs2 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__r48Ra {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__zrNtf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__mBCzu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__aSTen {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aSTen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__aSTen > :global(.__wab_flex-container) > *,
.freeBox__aSTen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aSTen > :global(.__wab_flex-container) > picture > img,
.freeBox__aSTen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___0Lg1I {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xSwx {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button___5Wh7A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__yQBc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__obP1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hvbFk {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
