.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__fxLf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.navMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.bkgd {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-8jk2BfOx3);
  height: 100%;
  overflow: auto;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.bkgd > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bkgd {
    height: 692px;
    justify-items: stretch;
    align-content: stretch;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.bkgd > *) {
    grid-column: 4;
  }
}
.freeBox__vypQs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__vypQs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__vypQs > :global(.__wab_flex-container) > *,
.freeBox__vypQs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vypQs > :global(.__wab_flex-container) > picture > img,
.freeBox__vypQs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vypQs {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vypQs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vypQs > :global(.__wab_flex-container) > *,
  .freeBox__vypQs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vypQs > :global(.__wab_flex-container) > picture > img,
  .freeBox__vypQs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___5Z233 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Z233 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__reQcD {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-QRin4DwcgZ4-);
  min-width: 0;
  padding: 16px;
  margin: 0px;
}
.freeBox__reQcD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__reQcD > :global(.__wab_flex-container) > *,
.freeBox__reQcD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__reQcD > :global(.__wab_flex-container) > picture > img,
.freeBox__reQcD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__reQcD {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__reQcD > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__reQcD > :global(.__wab_flex-container) > *,
  .freeBox__reQcD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__reQcD > :global(.__wab_flex-container) > picture > img,
  .freeBox__reQcD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___1AfrL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1AfrL {
    align-self: center;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }
}
.button__nyBuJ:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  margin-right: 16px;
}
.text__tTEgg {
  padding-right: 0px;
  font-size: 12px;
}
.svg__s2Lg4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fflX {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__pMagQ {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pMagQ {
    align-self: center;
    text-align: right;
  }
}
.quota {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 8px;
  font-size: 12px;
}
.freeBox__qyo06 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__qyo06 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qyo06 > :global(.__wab_flex-container) > *,
.freeBox__qyo06 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qyo06 > :global(.__wab_flex-container) > picture > img,
.freeBox__qyo06
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qyo06 {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qyo06 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qyo06 > :global(.__wab_flex-container) > *,
  .freeBox__qyo06 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qyo06 > :global(.__wab_flex-container) > picture > img,
  .freeBox__qyo06
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__pgoVl:global(.__wab_instance) {
  max-width: 100%;
}
.text__ha614 {
  padding-right: 0px;
}
.svg__v8Xkr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wU8Uh {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__yKNcX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.text__uYq4 {
  padding-right: 0px;
}
.svg__it4VW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oTaXz {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__kAo0A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__kAo0A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kAo0A > :global(.__wab_flex-container) > *,
.freeBox__kAo0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kAo0A > :global(.__wab_flex-container) > picture > img,
.freeBox__kAo0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAo0A {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAo0A > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAo0A > :global(.__wab_flex-container) > *,
  .freeBox__kAo0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kAo0A > :global(.__wab_flex-container) > picture > img,
  .freeBox__kAo0A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.formField:global(.__wab_instance) {
  width: 165px;
  max-width: 100%;
  object-fit: cover;
  margin-left: calc(37px + 16px) !important;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formField:global(.__wab_instance) {
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
  }
}
.text__ix0Rc {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ix0Rc {
    width: auto;
  }
}
.text__fzxrF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fzxrF {
    margin-right: 8px;
  }
}
.freeBox___6DZlk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox___6DZlk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6DZlk > :global(.__wab_flex-container) > *,
.freeBox___6DZlk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6DZlk > :global(.__wab_flex-container) > picture > img,
.freeBox___6DZlk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6DZlk {
    align-self: center;
    padding-left: 0px;
    padding-right: 16px;
    margin-bottom: 16px;
    padding-top: 0px;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6DZlk > :global(.__wab_flex-container) {
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6DZlk > :global(.__wab_flex-container) > *,
  .freeBox___6DZlk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6DZlk > :global(.__wab_flex-container) > picture > img,
  .freeBox___6DZlk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.freeBox__iyn6A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox__iyn6A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iyn6A > :global(.__wab_flex-container) > *,
.freeBox__iyn6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyn6A > :global(.__wab_flex-container) > picture > img,
.freeBox__iyn6A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__t0AqL {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  margin-bottom: 4px;
  white-space: pre;
}
.nicknameInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.nicknameBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nicknameBtn:global(.__wab_instance) {
    margin-top: calc(4px + 0px) !important;
  }
}
.text___5Ue0 {
  font-size: 14px;
}
.svg___4Lt3M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__reeOd {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox___4Tv5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  align-self: auto;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox___4Tv5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4Tv5 > :global(.__wab_flex-container) > *,
.freeBox___4Tv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Tv5 > :global(.__wab_flex-container) > picture > img,
.freeBox___4Tv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Tv5 {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.freeBox__kckei {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__kckei > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kckei > :global(.__wab_flex-container) > *,
.freeBox__kckei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kckei > :global(.__wab_flex-container) > picture > img,
.freeBox__kckei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kckei {
    padding-left: 0px;
  }
}
.text__y8ZBa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  flex-shrink: 0;
  padding-top: 0px;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailInput:global(.__wab_instance) {
    width: 70%;
  }
}
.emailBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 16px) !important;
}
.text___9DSqm {
  font-size: 14px;
}
.svg__ozCFp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__azFuK {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__mp9Qn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__mp9Qn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mp9Qn > :global(.__wab_flex-container) > *,
.freeBox__mp9Qn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mp9Qn > :global(.__wab_flex-container) > picture > img,
.freeBox__mp9Qn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mp9Qn {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mp9Qn > :global(.__wab_flex-container) {
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mp9Qn > :global(.__wab_flex-container) > *,
  .freeBox__mp9Qn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mp9Qn > :global(.__wab_flex-container) > picture > img,
  .freeBox__mp9Qn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.freeBox__rcsix {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__rcsix > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rcsix > :global(.__wab_flex-container) > *,
.freeBox__rcsix > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rcsix > :global(.__wab_flex-container) > picture > img,
.freeBox__rcsix
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rcsix {
    padding-left: 0px;
    width: 70%;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.text___3VOdS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  flex-shrink: 0;
}
.phoneInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phoneInput:global(.__wab_instance) {
    width: 70%;
  }
}
.button__tN1Mn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__tN1Mn:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
  }
}
.text___5Lqnl {
  font-size: 14px;
}
.svg__d5Zx2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ewl4N {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__nSdSx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  margin-top: 0px;
}
.text___9Isb0 {
  font-size: 14px;
}
.svg__oOxNk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dFg1D {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox___5KMVz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox___5KMVz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5KMVz > :global(.__wab_flex-container) > *,
.freeBox___5KMVz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5KMVz > :global(.__wab_flex-container) > picture > img,
.freeBox___5KMVz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5KMVz {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.freeBox__oKiI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__oKiI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__oKiI > :global(.__wab_flex-container) > *,
.freeBox__oKiI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKiI > :global(.__wab_flex-container) > picture > img,
.freeBox__oKiI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oKiI {
    padding-left: 0px;
  }
}
.text___3PtVl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  flex-shrink: 0;
}
.emailInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailInput2:global(.__wab_instance) {
    width: 70%;
  }
}
.button__rzucR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  margin-top: 0px;
}
.text__t8S9 {
  font-size: 14px;
}
.svg__kvOq5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fzeQc {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__xhRnq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-left: calc(24px + 24px) !important;
  min-width: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.freeBox__xhRnq > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhRnq {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.freeBox__xhRnq > *) {
    grid-column: 4;
  }
}
.img {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  height: 590px;
  margin-left: 0px;
}
.img > picture > img {
  object-fit: fill;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.toolbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .toolbar:global(.__wab_instance) {
    position: fixed;
    left: 0;
    top: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
  }
}
