.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-8jk2BfOx3);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.bkgd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.navMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navMenu:global(.__wab_instance) {
    display: flex;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 8px 0px;
}
:where(.section > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    max-width: 445px;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    padding: 0px 0px 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.section > *) {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 92vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 8px 8px 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.aside {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  min-height: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aside {
    height: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
    max-width: none;
    min-width: 0;
  }
}
.tabTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.tabTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tabTitle > :global(.__wab_flex-container) > *,
.tabTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tabTitle > :global(.__wab_flex-container) > picture > img,
.tabTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tabTitle {
    padding-top: 0px;
    display: flex;
  }
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  color: var(--token-WgGKuDBDe);
  line-height: 1.2;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    display: none;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 12px;
  align-self: center;
  color: var(--token-WgGKuDBDe);
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    display: none;
  }
}
.scenesTabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 4px 0px 8px;
}
.scenesTabs > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.scenesTabs > :global(.__wab_flex-container) > *,
.scenesTabs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.scenesTabs > :global(.__wab_flex-container) > picture > img,
.scenesTabs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    right: 0px;
    max-width: none;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs > :global(.__wab_flex-container) {
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .scenesTabs > :global(.__wab_flex-container) > *,
  .scenesTabs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .scenesTabs > :global(.__wab_flex-container) > picture > img,
  .scenesTabs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
.asideMenuGroup:global(.__wab_instance) {
  position: relative;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .asideMenuGroup:global(.__wab_instance) {
    align-self: flex-start;
    width: 100%;
    min-width: 0;
  }
}
.userInfoBlock:global(.__wab_instance) {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 3px;
  margin: 4px 4px 16px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .userInfoBlock:global(.__wab_instance) {
    display: none;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px 0px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    grid-column-gap: 8px;
  }
}
.sceneInfo__zigmA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.text__miKH {
  align-self: flex-start;
  white-space: pre;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lYmX8 {
  margin-top: 4px;
  white-space: pre-wrap;
  user-select: none;
  text-align: justify;
  color: var(--token-rqDJQlRsV);
  font-size: 13px;
}
.sceneInfo__ok60U:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__qdlmq:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__dtd5A:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__bu96:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__maa04:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__dKhQ2:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__eGbut:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__tyaSy:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__hlwVs:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__s39J:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__cOfkd:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__zbJkA:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__lsOs6:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__yxIXy:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__hjdX2:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__gdgKx:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__gmpNj:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__sC1Lq:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__wnQhi:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.sceneInfo__shpYm:global(.__wab_instance) {
  left: auto;
  top: auto;
  max-width: 100%;
  position: relative;
}
.toolbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .toolbar:global(.__wab_instance) {
    position: fixed;
    left: 0;
    top: auto;
    z-index: 1001;
    right: 0;
    bottom: 0;
    display: flex;
  }
}
