.root {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: auto;
  max-width: 140px;
  justify-content: flex-start;
  align-items: center;
  background: #fefefe;
  box-shadow: inset 0px 0px 24px 0px #0000000d;
  position: relative;
  min-width: 120px;
  border-radius: 16px;
  padding: 20px 8px;
  border: 2px solid var(--token-LJzy5WSR2);
}
.rootisSelected {
  padding-top: 20px;
  background: linear-gradient(var(--token-tsAjOKoWUS), var(--token-tsAjOKoWUS)),
    var(--token-26pFRJH-g);
  padding-bottom: 20px;
  border: 2px solid var(--token-hS7e36A1nc);
}
.text__eFQh {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -2px;
  top: 7px;
  background: var(--token-47ovROB-Xr2C);
  color: var(--token-_w178omqxW);
  padding-left: 8px;
  padding-right: 8px;
  font-size: 11px;
  display: none;
  border-radius: 0px 8px 8px 0px;
}
.textisDiscount_discountOn__eFQhSa11I {
  display: block;
}
.freeBox___1QeT7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.freeBox___9NkN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text___6Hedx {
  width: auto;
  height: auto;
  max-width: 100%;
  line-height: 1.3;
  display: block;
}
.freeBox__gpUs6 {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetPrice {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  white-space: pre;
  user-select: none;
}
.freeBox__k1MfM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SmdgsD8KK);
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 2px 8px;
}
.slotTargetPreDay {
  color: var(--token-hS7e36A1nc);
  font-size: 12px;
}
.freeBox__iiZZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetVersion {
  font-size: 11px;
  color: var(--token-rqDJQlRsV);
  text-align: center;
}
