.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__vTrh4 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  width: 100vw;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vTrh4 {
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__qnDkJ {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  min-width: 0;
  padding: 16px 32px;
}
.freeBox__qnDkJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qnDkJ > :global(.__wab_flex-container) > *,
.freeBox__qnDkJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnDkJ > :global(.__wab_flex-container) > picture > img,
.freeBox__qnDkJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qnDkJ {
    padding: 16px 0px;
  }
}
.freeBox__u2Shq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1680px;
  min-width: 0;
}
.freeBox__u2Shq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__u2Shq > :global(.__wab_flex-container) > *,
.freeBox__u2Shq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u2Shq > :global(.__wab_flex-container) > picture > img,
.freeBox__u2Shq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u2Shq {
    display: flex;
    flex-direction: row;
    margin-left: calc(8px + 16px) !important;
    margin-right: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u2Shq > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u2Shq > :global(.__wab_flex-container) > *,
  .freeBox__u2Shq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u2Shq > :global(.__wab_flex-container) > picture > img,
  .freeBox__u2Shq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.img___6Olc6 {
  object-fit: cover;
  width: 200px;
  flex-shrink: 0;
}
.img___6Olc6 > picture > img {
  object-fit: cover;
}
.img___6Olc6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6Olc6 {
    align-self: flex-start;
    width: 128px;
    flex-shrink: 0;
  }
}
.freeBox__sXpnp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__sXpnp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sXpnp > :global(.__wab_flex-container) > *,
.freeBox__sXpnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sXpnp > :global(.__wab_flex-container) > picture > img,
.freeBox__sXpnp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sXpnp > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sXpnp > :global(.__wab_flex-container) > *,
  .freeBox__sXpnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sXpnp > :global(.__wab_flex-container) > picture > img,
  .freeBox__sXpnp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 8px;
  }
}
.button__edLoX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__edLoX:global(.__wab_instance) {
    display: none;
  }
}
.text__yGBgA {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__l4HSf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jMzD {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__lwQFu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lwQFu:global(.__wab_instance) {
    display: none;
  }
}
.text__rdeBy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nj7SK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__z6RI {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__fDDk1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fDDk1:global(.__wab_instance) {
    display: none;
  }
}
.text__kNtlw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__f9CPs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kmDly {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__a1X34:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.text___0U4Qk {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-WbeO8JoEs);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kzRcy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wQgAr {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__t5W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.text___7Dt8L {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-mHGy3iJMuj);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bEOsd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__h9D1N {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__mvYgQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___8Xvrc {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button___2R0VD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.text__usbzz {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pQht0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6VbBr {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1680px;
  width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ruOkm {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ruOkm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ruOkm > :global(.__wab_flex-container) > *,
.freeBox__ruOkm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ruOkm > :global(.__wab_flex-container) > picture > img,
.freeBox__ruOkm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ruOkm {
    padding: 0px;
  }
}
.freeBox__eq44B {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px;
}
.freeBox__eq44B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__eq44B > :global(.__wab_flex-container) > *,
.freeBox__eq44B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eq44B > :global(.__wab_flex-container) > picture > img,
.freeBox__eq44B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eq44B {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eq44B > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eq44B > :global(.__wab_flex-container) > *,
  .freeBox__eq44B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eq44B > :global(.__wab_flex-container) > picture > img,
  .freeBox__eq44B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__dw9Bx {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
.freeBox__dw9Bx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dw9Bx > :global(.__wab_flex-container) > *,
.freeBox__dw9Bx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dw9Bx > :global(.__wab_flex-container) > picture > img,
.freeBox__dw9Bx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__pIBiS {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  backdrop-filter: none;
  transform: none;
  width: 100%;
  min-width: 0;
  -webkit-backdrop-filter: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pIBiS {
    font-size: 28px;
    text-align: center;
    line-height: 1.6;
  }
}
.text__efmCb {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__efmCb {
    text-align: center;
  }
}
.button___8HFnL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___8HFnL:global(.__wab_instance) {
    align-self: center;
  }
}
.text__ux5D {
  font-size: 18px;
}
.svg___2Q5Vn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___504Bs {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.img__vzl5 {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  object-position: right center;
  height: 337px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.img__vzl5 > picture > img {
  object-fit: contain;
  object-position: right center;
}
.img__vzl5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: right center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vzl5 {
    width: 100%;
    object-position: 50% center;
    height: auto;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vzl5 > picture > img {
    object-position: 50% center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vzl5 > :global(.__wab_img-spacer) > img {
    object-position: 50% center;
  }
}
.freeBox__qfCrU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qfCrU {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.value {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
  min-width: 0;
  padding: 16px 64px 17px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value {
    width: 100%;
    min-width: 0;
    padding: 24px 12px;
  }
}
.foreground4 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
  align-self: center;
  background: none;
  width: 100%;
  min-width: 0;
}
.foreground4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground4 > :global(.__wab_flex-container) > *,
.foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground4 > :global(.__wab_flex-container) > picture > img,
.foreground4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground4 {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground4 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground4 > :global(.__wab_flex-container) > *,
  .foreground4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground4 > :global(.__wab_flex-container) > picture > img,
  .foreground4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox___72Cv {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___72Cv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___72Cv > :global(.__wab_flex-container) > *,
.freeBox___72Cv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___72Cv > :global(.__wab_flex-container) > picture > img,
.freeBox___72Cv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__l5Mxs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--token-mHGy3iJMuj);
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___5Mw {
  font-size: 16px;
  color: var(--token-PrbJaIviCD);
  text-align: left;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Mw {
    font-weight: 300;
    padding: 12px;
  }
}
.freeBox__pnErq {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__pnErq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pnErq > :global(.__wab_flex-container) > *,
.freeBox__pnErq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnErq > :global(.__wab_flex-container) > picture > img,
.freeBox__pnErq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__wj0Iy {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__wj0Iy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__wj0Iy > :global(.__wab_flex-container) > *,
.freeBox__wj0Iy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wj0Iy > :global(.__wab_flex-container) > picture > img,
.freeBox__wj0Iy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wj0Iy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wj0Iy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wj0Iy > :global(.__wab_flex-container) > *,
  .freeBox__wj0Iy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wj0Iy > :global(.__wab_flex-container) > picture > img,
  .freeBox__wj0Iy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__k8BRz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__k8BRz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__k8BRz > :global(.__wab_flex-container) > *,
.freeBox__k8BRz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k8BRz > :global(.__wab_flex-container) > picture > img,
.freeBox__k8BRz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__gIlWv {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg__xWo1H {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__koAi {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__s3Gy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lWn4O {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lWn4O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lWn4O > :global(.__wab_flex-container) > *,
.freeBox__lWn4O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lWn4O > :global(.__wab_flex-container) > picture > img,
.freeBox__lWn4O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aDzfr {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__acCkg {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__mRSkl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__mRSkl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mRSkl > :global(.__wab_flex-container) > *,
.freeBox__mRSkl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mRSkl > :global(.__wab_flex-container) > picture > img,
.freeBox__mRSkl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__qMww {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg___3Cgqe {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__lM2WS {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__ifn3J {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__o3UTj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__o3UTj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o3UTj > :global(.__wab_flex-container) > *,
.freeBox__o3UTj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o3UTj > :global(.__wab_flex-container) > picture > img,
.freeBox__o3UTj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__wGTo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___036Ah {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__sfWlx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__sfWlx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__sfWlx > :global(.__wab_flex-container) > *,
.freeBox__sfWlx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sfWlx > :global(.__wab_flex-container) > picture > img,
.freeBox__sfWlx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__whIH {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg__nbUyu {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__jAAvD {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__ykmo0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lXxi0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lXxi0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lXxi0 > :global(.__wab_flex-container) > *,
.freeBox__lXxi0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lXxi0 > :global(.__wab_flex-container) > picture > img,
.freeBox__lXxi0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__enbcG {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__jeQnA {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dhLou {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__dhLou > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dhLou > :global(.__wab_flex-container) > *,
.freeBox__dhLou > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dhLou > :global(.__wab_flex-container) > picture > img,
.freeBox__dhLou
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__sycim {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__sycim > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__sycim > :global(.__wab_flex-container) > *,
.freeBox__sycim > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sycim > :global(.__wab_flex-container) > picture > img,
.freeBox__sycim
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sycim {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sycim > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sycim > :global(.__wab_flex-container) > *,
  .freeBox__sycim > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sycim > :global(.__wab_flex-container) > picture > img,
  .freeBox__sycim
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__l1Y79 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__l1Y79 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__l1Y79 > :global(.__wab_flex-container) > *,
.freeBox__l1Y79 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l1Y79 > :global(.__wab_flex-container) > picture > img,
.freeBox__l1Y79
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__jiJyo {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg__fu7BA {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__a8BR9 {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__bseyL {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__bXp4V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bXp4V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bXp4V > :global(.__wab_flex-container) > *,
.freeBox__bXp4V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bXp4V > :global(.__wab_flex-container) > picture > img,
.freeBox__bXp4V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__y6H89 {
  height: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__gTn6T {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__eP7Gf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__eP7Gf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eP7Gf > :global(.__wab_flex-container) > *,
.freeBox__eP7Gf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eP7Gf > :global(.__wab_flex-container) > picture > img,
.freeBox__eP7Gf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__up9In {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg__kdMbn {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox__nov7G {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__qFwr0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lzNK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lzNK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lzNK > :global(.__wab_flex-container) > *,
.freeBox__lzNK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lzNK > :global(.__wab_flex-container) > picture > img,
.freeBox__lzNK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__hZUzw {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__nNyX {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__xz2CT {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__xz2CT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xz2CT > :global(.__wab_flex-container) > *,
.freeBox__xz2CT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xz2CT > :global(.__wab_flex-container) > picture > img,
.freeBox__xz2CT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__jJsQd {
  background: var(--token-QRin4DwcgZ4-);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 0px;
}
.svg__cRj0 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #34c759;
  flex-shrink: 0;
}
.freeBox___0D4Pb {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__jala {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lReT {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lReT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lReT > :global(.__wab_flex-container) > *,
.freeBox__lReT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lReT > :global(.__wab_flex-container) > picture > img,
.freeBox__lReT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__oqnEs {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__aNm39 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: #e2e2e2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .price {
    width: 100%;
    min-width: 0;
    padding: 64px 32px;
  }
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__b70IF {
  display: flex;
  flex-direction: column;
}
.freeBox__b70IF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__b70IF > :global(.__wab_flex-container) > *,
.freeBox__b70IF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b70IF > :global(.__wab_flex-container) > picture > img,
.freeBox__b70IF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5KzDf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___9HD0J {
  color: var(--token-mHGy3iJMuj);
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9HD0J {
    font-size: 24px;
    line-height: 1.2;
  }
}
.text__l5FPi {
  font-size: 20px;
  color: var(--token-rqDJQlRsV);
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.price2:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .price2:global(.__wab_instance) {
    align-self: center;
  }
}
.about {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f1f1f1;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 64px;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .about {
    width: 100%;
    min-width: 0;
    padding: 64px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .about > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.text__rfMyL {
  color: var(--token-mHGy3iJMuj);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rfMyL {
    text-align: center;
  }
}
.text__sPTwg {
  font-size: 20px;
  color: var(--token-PrbJaIviCD);
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 64px;
}
.columns {
  display: flex;
  position: relative;
  max-width: 1280px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__deD1T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__deD1T {
    width: 100%;
  }
}
.freeBox__kIDkD {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__kIDkD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kIDkD > :global(.__wab_flex-container) > *,
.freeBox__kIDkD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kIDkD > :global(.__wab_flex-container) > picture > img,
.freeBox__kIDkD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__dTGo3 {
  opacity: 1;
  object-fit: contain;
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  max-width: 180px;
  min-width: 0;
}
.img__dTGo3 > picture > img {
  object-fit: contain;
}
.img__dTGo3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__tNcGo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tNcGo > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tNcGo > :global(.__wab_flex-container) > *,
.freeBox__tNcGo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tNcGo > :global(.__wab_flex-container) > picture > img,
.freeBox__tNcGo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yHyWq {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__kHzbo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kHzbo {
    width: 100%;
  }
}
.freeBox__tPq5K {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tPq5K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tPq5K > :global(.__wab_flex-container) > *,
.freeBox__tPq5K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tPq5K > :global(.__wab_flex-container) > picture > img,
.freeBox__tPq5K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__tdgbs {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button___1N0I5:global(.__wab_instance) {
  position: relative;
}
.text__gKtby {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nAuG1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__esRsq {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__dnsbo:global(.__wab_instance) {
  position: relative;
}
.text__kJznj {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__twP4S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dJ01 {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__szD65:global(.__wab_instance) {
  position: relative;
}
.text__rfyFt {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rBdXb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vLw9H {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button___3NAr6:global(.__wab_instance) {
  position: relative;
}
.text__rtk4A {
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___8F13T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kbbY {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.column__vH077 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vH077 {
    width: 100%;
  }
}
.freeBox__hm0IO {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__hm0IO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hm0IO > :global(.__wab_flex-container) > *,
.freeBox__hm0IO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hm0IO > :global(.__wab_flex-container) > picture > img,
.freeBox__hm0IO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__f04Hl {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__gtZoB:global(.__wab_instance) {
  position: relative;
}
.text__zPfyo {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__mNthj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0E49A {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button___2M31F:global(.__wab_instance) {
  position: relative;
}
.text__hBcwJ {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qHwtp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nBfbI {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.button__tWbr:global(.__wab_instance) {
  position: relative;
}
.text__e639I {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zzpFk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9Paqz {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
