.root {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #95da98;
  border-radius: 14px;
  padding: 6px;
}
.freeBox {
  display: flex;
  position: sticky;
  left: 10px;
  top: 10px;
  z-index: 1;
}
.svg__es5Ix {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AbckxUHKx);
  position: relative;
  left: auto;
  top: auto;
  z-index: auto;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
