.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  padding: 4px 12px;
  border-width: 0px;
}
.item > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.item > :global(.__wab_flex-container) > *,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item > :global(.__wab_flex-container) > picture > img,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.itemisCurrent {
  background: var(--token-sn6Zb6km7CqW);
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.itemisCurrent > :global(.__wab_flex-container) {
  min-width: 0;
}
.slotTargetIcon {
  color: var(--token-AbckxUHKx);
}
.label {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.text {
  font-size: 13px;
}
.textisCurrent {
  color: var(--token-_w178omqxW);
}
