.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  padding-top: 4px;
  box-shadow: inset 0px 1px 0px 0px #00000033;
}
.toolButton__hjzR:global(.__wab_instance) {
  position: relative;
}
.svg__p6AQy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.toolButton__x0A34:global(.__wab_instance) {
  position: relative;
}
.svg__hoRix {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.toolButton__jI7Kp:global(.__wab_instance) {
  position: relative;
}
.svg___84ZIr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.toolButton__m0Ova:global(.__wab_instance) {
  position: relative;
}
.svg__mJ4X3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
