.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__fxLf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.menuNav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.section___67ClG {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.section___67ClG > *) {
  grid-column: 4;
}
.freeBox__vypQs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox___3M39U {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___4XCqg {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xu2Ya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hHtof {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formItem__l5U:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__x7WF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formItem__ckay4:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__nKb0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formItem__nwB6:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___0Jkpi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formItem__qAos1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__okSz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formItem___8NkSb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xj0N0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__g2R8U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__xhRnq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px 0;
}
:where(.section__xhRnq > *) {
  grid-column: 4;
}
