.fav {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-FMGQEiyNQ);
  width: 16px;
  height: 16px;
  position: relative;
}
.favchecked {
  color: #fac72b;
  transform: none;
  cursor: pointer;
}
