.item {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: 32px;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  background: #ffffff;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  border-radius: 3px;
  padding: 4px 12px;
  border-width: 0px;
}
.item > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.item > :global(.__wab_flex-container) > *,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.item > :global(.__wab_flex-container) > picture > img,
.item > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.itemisCurrent {
  background: #7cda64;
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
  border-radius: 3px;
}
.slotTargetIcon {
  color: var(--token-AbckxUHKx);
  user-select: none;
  white-space: pre;
}
.label {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.slotTargetLabeltext {
  font-size: 13px;
  user-select: none;
  white-space: pre;
}
.slotTargetLabeltextisCurrent {
  color: var(--token-_w178omqxW);
}
