.register {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: none;
  max-width: 600px;
  width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .register {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.registermailState {
  width: 100%;
  min-width: 0;
}
.freeBox__jvDde {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px 16px;
}
.freeBox__jvDde > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jvDde > :global(.__wab_flex-container) > *,
.freeBox__jvDde > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvDde > :global(.__wab_flex-container) > picture > img,
.freeBox__jvDde
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jvDde {
    width: 100%;
    max-width: 500px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jvDde > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBoxmailState__jvDdeilXmh {
  width: 100%;
  min-width: 0;
}
.freeBoxmailState__jvDdeilXmh > :global(.__wab_flex-container) {
  min-width: 0;
}
.freeBox__lEnd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lEnd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lEnd > :global(.__wab_flex-container) > *,
.freeBox__lEnd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lEnd > :global(.__wab_flex-container) > picture > img,
.freeBox__lEnd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__msHJc {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
}
.text__auRyk {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-WgGKuDBDe);
  text-align: center;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__auRyk {
    line-height: 1;
    white-space: pre;
  }
}
.freeBox__st9Mq {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
}
.freeBox__yP6Rq {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__yP6Rq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yP6Rq > :global(.__wab_flex-container) > *,
.freeBox__yP6Rq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yP6Rq > :global(.__wab_flex-container) > picture > img,
.freeBox__yP6Rq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__mbQty:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eu2F {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-mHGy3iJMuj);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eu2F {
    color: var(--token-l-1COI_6w);
  }
}
.textmailState__eu2FilXmh {
  color: var(--token-WgGKuDBDe);
  border-bottom-width: 0px;
  border-bottom-style: none;
}
.svg__c07P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mkJgO {
  color: var(--token-l-1COI_6w);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.svgmailState__mkJgOilXmh {
  color: var(--token-WgGKuDBDe);
}
.button__bikem:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__eaUqw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-WgGKuDBDe);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textmailState__eaUqwilXmh {
  color: var(--token-mHGy3iJMuj);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.svg___9K9Yh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nnoy {
  color: var(--token-WgGKuDBDe);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.svgmailState__nnoyilXmh {
  color: var(--token-l-1COI_6w);
}
.mbRegisterInput {
  display: flex;
  position: relative;
  flex-direction: column;
}
.mbRegisterInput > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.mbRegisterInput > :global(.__wab_flex-container) > *,
.mbRegisterInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mbRegisterInput > :global(.__wab_flex-container) > picture > img,
.mbRegisterInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.mbRegisterInputmailState {
  display: none;
}
.phoneInput {
  width: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-size: 14px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__jKvC4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jKvC4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jKvC4 > :global(.__wab_flex-container) > *,
.freeBox__jKvC4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jKvC4 > :global(.__wab_flex-container) > picture > img,
.freeBox__jKvC4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.code {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-size: 14px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.getCodeBtn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jKa98 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hXjEq {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.mailRegisterInput {
  display: flex;
  position: relative;
  flex-direction: column;
}
.mailRegisterInput > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.mailRegisterInput > :global(.__wab_flex-container) > *,
.mailRegisterInput > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mailRegisterInput > :global(.__wab_flex-container) > picture > img,
.mailRegisterInput
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.mailRegisterInputmailState {
  display: flex;
}
.mail {
  width: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-size: 14px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__iuJrY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iuJrY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iuJrY > :global(.__wab_flex-container) > *,
.freeBox__iuJrY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuJrY > :global(.__wab_flex-container) > picture > img,
.freeBox__iuJrY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.mailPassword {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-size: 14px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.text___3Z8A0 {
  position: relative;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 20px;
}
.button___6B0Vj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vkPYh {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__vBbs9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3UBeI {
  color: var(--token-_w178omqxW);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
