.root {
  display: inline-flex;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: linear-gradient(98deg, #e2f9e2 0%, #fdffe9 100%) 0% 0% / 100% 100%
      repeat,
    #ededed;
  min-width: 100px;
  justify-content: space-evenly;
  position: relative;
  border-radius: 4px;
  padding: 12px 10px;
  border: 1px solid var(--token-R0SUfsNirUr0);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: none;
  }
}
.rootvips_vip1 {
  background: linear-gradient(98deg, #fdf7e6 0%, #f1e196 100%) 0% 0% / 100% 100%
    repeat;
  border-color: var(--token-bHHJuMx2zyxz);
}
.rootvips_vip2 {
  background: linear-gradient(98deg, #effffa 0%, #96f7fd 100%) 0% 0% / 100% 100%
    repeat;
  border-color: #81d4d1;
}
.rootvips_vip3 {
  background: linear-gradient(98deg, #d76eff 0%, #98b1fc 100%) 0% 0% / 100% 100%
    repeat;
  border-color: #7a16ff;
}
.text__rVqWb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 10px;
  background: none;
  color: var(--token-WgGKuDBDe);
  min-width: 0;
  padding: 0px 4px;
}
.textvips_vip3__rVqWBfDjRf {
  color: #ffdc1f;
}
.limit {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: none;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 0px 4px;
}
.slotTargetLimit {
  font-size: 11px;
  user-select: none;
  white-space: pre;
}
.slotTargetLimit > :global(.__wab_text),
.slotTargetLimit > :global(.__wab_expr_html_text),
.slotTargetLimit > :global(.__wab_slot-string-wrapper),
.slotTargetLimit > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetLimit > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetLimit > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetLimit > *,
.slotTargetLimit > :global(.__wab_slot) > *,
.slotTargetLimit > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetLimit > picture > img,
.slotTargetLimit > :global(.__wab_slot) > picture > img,
.slotTargetLimit > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetLimit
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
.slotTargetLimitvips_vip3 {
  color: #fff025;
}
.line {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-oG1h6iK0g);
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.linevips_vip1 {
  mix-blend-mode: multiply;
}
.linevips_vip2 {
  width: 100%;
  height: 1px;
  max-width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  background: var(--token-oG1h6iK0g);
  mix-blend-mode: multiply;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.linevips_vip3 {
  mix-blend-mode: normal;
  background: #fce94a;
}
.userName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 4px;
}
.slotTargetUsername {
  font-size: 14px;
}
.slotTargetUsernamevips_vip2 {
  color: #2c7daa;
}
.slotTargetUsernamevips_vip3 {
  color: #ffe81f;
}
.text__sIuAx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 11px;
  padding-left: 8px;
  background: var(--token-tsAjOKoWUS);
  padding-right: 8px;
  align-self: flex-start;
  color: var(--token-mHGy3iJMuj);
  border-radius: 12px;
  border: 1px solid var(--token-mHGy3iJMuj);
}
.textvips_vip1__sIuAx7Bmnt {
  font-weight: 700;
  background: #f1af20;
  color: var(--token-WbeO8JoEs);
  border-color: #dd9c1a;
}
.textvips_vip2__sIuAxac21X {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  background: #1cc8dd;
  border-radius: 12px;
  border-color: #1ab580;
}
.textvips_vip3__sIuAXfDjRf {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  background: #9000c3;
  border-radius: 12px;
  border-color: #9e1751;
}
