.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__g6Bq0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: var(--token-8jk2BfOx3);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 8px;
}
.menuNav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px;
}
:where(.section > *) {
  grid-column: 4;
}
.freeBox___2Fy1N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 8px;
}
.antdTabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 90vh;
  min-width: 0;
  flex-shrink: 0;
}
.text__mpbac {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-bottom: 24px;
  min-width: 0;
}
.text__i4YcG {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.用户名 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.vip {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.antdTabPane__tQvxZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lXcuc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__u0GZf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xdhlF {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xdhlF {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.sceneInfo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdTabPane___9MKf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sppt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jbJ65 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.antdTabPane__bb67K:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8Qior {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__r27Rp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.antdTabPane__vC47F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gbPm4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__moUgd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.antdTabPane__hcFyH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lcqfK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5XcVw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.antdTabPane__dtDcl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d99V8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__vGMv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
