.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__lF7Rf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: var(--token-8jk2BfOx3);
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 8px;
}
.menuNav:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    1fr minmax(0, var(--plsmc-wide-chunk)) var(--plsmc-viewport-gap)
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    var(--plsmc-viewport-gap) minmax(0, var(--plsmc-wide-chunk)) 1fr;
  padding: 8px;
}
:where(.section > *) {
  grid-column: 4;
}
.freeBox__knM4Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 16px;
}
.freeBox__knM4Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__knM4Q > :global(.__wab_flex-container) > *,
.freeBox__knM4Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knM4Q > :global(.__wab_flex-container) > picture > img,
.freeBox__knM4Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.freeBox__knM4Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__knM4Q {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__knM4Q > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__knM4Q > :global(.__wab_flex-container) > *,
  .freeBox__knM4Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__knM4Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__knM4Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__knM4Q {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
}
.freeBox__kbEdY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 45%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__kbEdY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kbEdY > :global(.__wab_flex-container) > *,
.freeBox__kbEdY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbEdY > :global(.__wab_flex-container) > picture > img,
.freeBox__kbEdY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__kbEdY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbEdY {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbEdY > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbEdY {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__we7Gy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__we7Gy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__we7Gy > :global(.__wab_flex-container) > *,
.freeBox__we7Gy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__we7Gy > :global(.__wab_flex-container) > picture > img,
.freeBox__we7Gy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__we7Gy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__zmrW:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vdho4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bYdq0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
  padding: 8px;
}
.freeBox__ppe2M {
  display: block;
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__g0QAg {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.freeBox__g0QAg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__g0QAg > :global(.__wab_flex-container) > *,
.freeBox__g0QAg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g0QAg > :global(.__wab_flex-container) > picture > img,
.freeBox__g0QAg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__g0QAg {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.text__z1MK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: #5353538a;
  min-width: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  min-width: 0;
  padding: 8px;
}
.formItem___89WdK:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__ynMf4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
}
.freeBox__pYwmg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pYwmg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__pYwmg > :global(.__wab_flex-container) > *,
.freeBox__pYwmg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pYwmg > :global(.__wab_flex-container) > picture > img,
.freeBox__pYwmg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__pYwmg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.formItem__bYsQp:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__ixYq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
}
.formItem__lDubi:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___38RP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 1;
}
.text__ebRoc {
  font-size: 14px;
}
.formItem__lTvri:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.button__vZ8Y9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xsAp8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kzCAs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.createdContent__teItb:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.createdContent___3Ajlh:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.antdInputTextArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .antdInputTextArea:global(.__wab_instance) {
    display: none;
  }
}
