@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-49eKaRpfhI1RGY: 160px;
  --plasmic-token-160-px: var(--token-49eKaRpfhI1RGY);
  --token-8jk2BfOx3: #f5f5f5;
  --plasmic-token-system-bg-spotlight: var(--token-8jk2BfOx3);
  --token-mHGy3iJMuj: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-mHGy3iJMuj);
  --token-hS7e36A1nc: #12d61a;
  --plasmic-token-system-success: var(--token-hS7e36A1nc);
  --token-tsAjOKoWUS: #f7ffee;
  --plasmic-token-system-warning-bg-hover: var(--token-tsAjOKoWUS);
  --token-PrbJaIviCD: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-PrbJaIviCD);
  --token-J2Lx0SOBKq: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-J2Lx0SOBKq);
  --token-_w178omqxW: var(--token-WbeO8JoEs);
  --plasmic-token-system-bg-layout: var(--token-_w178omqxW);
  --token-WbeO8JoEs: #fbffff;
  --plasmic-token-bkgd-1: var(--token-WbeO8JoEs);
  --token-SmdgsD8KK: #ddfecb38;
  --plasmic-token-c-1: var(--token-SmdgsD8KK);
  --token-WgGKuDBDe: #acacac;
  --plasmic-token-unnamed-style-token-2: var(--token-WgGKuDBDe);
  --token-rqDJQlRsV: #757575;
  --plasmic-token-g-1: var(--token-rqDJQlRsV);
  --token-OZ4dMHe3J: Roboto;
  --plasmic-token-unnamed-style-token-3: var(--token-OZ4dMHe3J);
  --token-AbckxUHKx: #ffffef;
  --plasmic-token-unnamed-style-token-4: var(--token-AbckxUHKx);
  --token-oG1h6iK0g: #dcdcdc;
  --plasmic-token-g-2: var(--token-oG1h6iK0g);
  --token-l-1COI_6w: #369c00;
  --plasmic-token-main: var(--token-l-1COI_6w);
  --token-26pFRJH-g: #fffeee;
  --plasmic-token-unnamed-style-token-5: var(--token-26pFRJH-g);
  --token-FMGQEiyNQ: #cacaca;
  --plasmic-token-icn-default: var(--token-FMGQEiyNQ);
  --token-LJzy5WSR2: #f3f4f6;
  --plasmic-token-bkgd-base: var(--token-LJzy5WSR2);
  --token--clqsEv8iP8y: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token--clqsEv8iP8y);
  --token-iuivkJD8aiSZ: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-iuivkJD8aiSZ);
  --token-0tej4Zeiesvz: var(--token-8jk2BfOx3);
  --plasmic-token-system-bg-layout-2: var(--token-0tej4Zeiesvz);
  --token-2B9kEbcE-zaF: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-2B9kEbcE-zaF);
  --token-QRin4DwcgZ4-: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-QRin4DwcgZ4-);
  --token-inRKTKkFw--B: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-inRKTKkFw--B);
  --token-WOxkaP-l-mKp: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-WOxkaP-l-mKp);
  --token-IwiySx9HX: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-IwiySx9HX);
  --token-w-bBaEPI6iX: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-w-bBaEPI6iX);
  --token-DK0jYmftD: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-DK0jYmftD);
  --token-Y4QO8nCPF: #2cd500;
  --plasmic-token-btn-bg: var(--token-Y4QO8nCPF);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-zG97ezVrJLcJ0W_font-family: "Inter", sans-serif;
  --mixin-zG97ezVrJLcJ0W_font-size: 16px;
  --mixin-zG97ezVrJLcJ0W_font-weight: 400;
  --mixin-zG97ezVrJLcJ0W_font-style: normal;
  --mixin-zG97ezVrJLcJ0W_color: #535353;
  --mixin-zG97ezVrJLcJ0W_text-align: left;
  --mixin-zG97ezVrJLcJ0W_text-transform: none;
  --mixin-zG97ezVrJLcJ0W_line-height: 1.5;
  --mixin-zG97ezVrJLcJ0W_letter-spacing: normal;
  --mixin-zG97ezVrJLcJ0W_white-space: pre-wrap;
  --mixin-zG97ezVrJLcJ0W_user-select: text;
  --mixin-zG97ezVrJLcJ0W_text-decoration-line: none;
  --mixin-zG97ezVrJLcJ0W_text-overflow: clip;
  --mixin-E9v5Hbltw_n9Bb_color: #000000;
  --mixin-E9v5Hbltw_n9Bb_font-weight: 700;
  --mixin-E9v5Hbltw_n9Bb_font-size: 64px;
  --mixin-E9v5Hbltw_n9Bb_line-height: 1;
  --mixin-E9v5Hbltw_n9Bb_letter-spacing: -1px;
  --mixin-E9v5Hbltw_n9Bb_white-space: pre-wrap;
  --mixin-EzU5KhNF7l-x4X_color: #000000;
  --mixin-EzU5KhNF7l-x4X_font-size: 48px;
  --mixin-EzU5KhNF7l-x4X_font-weight: 700;
  --mixin-EzU5KhNF7l-x4X_letter-spacing: -0.5px;
  --mixin-EzU5KhNF7l-x4X_line-height: 1.1;
  --mixin-EzU5KhNF7l-x4X_white-space: pre-wrap;
  --mixin-hRYpdYIBqmiHyJ_color: #0070f3;
  --mixin-hRYpdYIBqmiHyJ_white-space: pre-wrap;
  --mixin-9wQTw2H9Tjb3QD_color: #000000;
  --mixin-9wQTw2H9Tjb3QD_font-size: 32px;
  --mixin-9wQTw2H9Tjb3QD_font-weight: 600;
  --mixin-9wQTw2H9Tjb3QD_line-height: 1.2;
  --mixin-9wQTw2H9Tjb3QD_white-space: pre-wrap;
  --mixin-X882DzhiCNrHXI_color: #000000;
  --mixin-X882DzhiCNrHXI_font-size: 24px;
  --mixin-X882DzhiCNrHXI_font-weight: 600;
  --mixin-X882DzhiCNrHXI_letter-spacing: -0.5px;
  --mixin-X882DzhiCNrHXI_line-height: 1.3;
  --mixin-X882DzhiCNrHXI_white-space: pre-wrap;
  --mixin-EqCFtUEVCQbweY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EqCFtUEVCQbweY_border-bottom-color: #dddddd;
  --mixin-EqCFtUEVCQbweY_border-bottom-style: solid;
  --mixin-EqCFtUEVCQbweY_border-bottom-width: 1px;
  --mixin-EqCFtUEVCQbweY_border-left-color: #dddddd;
  --mixin-EqCFtUEVCQbweY_border-left-style: solid;
  --mixin-EqCFtUEVCQbweY_border-left-width: 1px;
  --mixin-EqCFtUEVCQbweY_border-right-color: #dddddd;
  --mixin-EqCFtUEVCQbweY_border-right-style: solid;
  --mixin-EqCFtUEVCQbweY_border-right-width: 1px;
  --mixin-EqCFtUEVCQbweY_border-top-color: #dddddd;
  --mixin-EqCFtUEVCQbweY_border-top-style: solid;
  --mixin-EqCFtUEVCQbweY_border-top-width: 1px;
  --mixin-EqCFtUEVCQbweY_border-bottom-left-radius: 3px;
  --mixin-EqCFtUEVCQbweY_border-bottom-right-radius: 3px;
  --mixin-EqCFtUEVCQbweY_border-top-left-radius: 3px;
  --mixin-EqCFtUEVCQbweY_border-top-right-radius: 3px;
  --mixin-EqCFtUEVCQbweY_font-family: "Inconsolata";
  --mixin-EqCFtUEVCQbweY_padding-bottom: 1px;
  --mixin-EqCFtUEVCQbweY_padding-left: 4px;
  --mixin-EqCFtUEVCQbweY_padding-right: 4px;
  --mixin-EqCFtUEVCQbweY_padding-top: 1px;
  --mixin-EqCFtUEVCQbweY_white-space: pre-wrap;
  --mixin--I5xUVNFBXAZ7s_border-left-color: #dddddd;
  --mixin--I5xUVNFBXAZ7s_border-left-style: solid;
  --mixin--I5xUVNFBXAZ7s_border-left-width: 3px;
  --mixin--I5xUVNFBXAZ7s_color: #888888;
  --mixin--I5xUVNFBXAZ7s_padding-left: 10px;
  --mixin--I5xUVNFBXAZ7s_white-space: pre-wrap;
  --mixin-zAM7IRsDNLbN8k_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zAM7IRsDNLbN8k_border-bottom-color: #dddddd;
  --mixin-zAM7IRsDNLbN8k_border-bottom-style: solid;
  --mixin-zAM7IRsDNLbN8k_border-bottom-width: 1px;
  --mixin-zAM7IRsDNLbN8k_border-left-color: #dddddd;
  --mixin-zAM7IRsDNLbN8k_border-left-style: solid;
  --mixin-zAM7IRsDNLbN8k_border-left-width: 1px;
  --mixin-zAM7IRsDNLbN8k_border-right-color: #dddddd;
  --mixin-zAM7IRsDNLbN8k_border-right-style: solid;
  --mixin-zAM7IRsDNLbN8k_border-right-width: 1px;
  --mixin-zAM7IRsDNLbN8k_border-top-color: #dddddd;
  --mixin-zAM7IRsDNLbN8k_border-top-style: solid;
  --mixin-zAM7IRsDNLbN8k_border-top-width: 1px;
  --mixin-zAM7IRsDNLbN8k_border-bottom-left-radius: 3px;
  --mixin-zAM7IRsDNLbN8k_border-bottom-right-radius: 3px;
  --mixin-zAM7IRsDNLbN8k_border-top-left-radius: 3px;
  --mixin-zAM7IRsDNLbN8k_border-top-right-radius: 3px;
  --mixin-zAM7IRsDNLbN8k_font-family: "Inconsolata";
  --mixin-zAM7IRsDNLbN8k_padding-bottom: 3px;
  --mixin-zAM7IRsDNLbN8k_padding-left: 6px;
  --mixin-zAM7IRsDNLbN8k_padding-right: 6px;
  --mixin-zAM7IRsDNLbN8k_padding-top: 3px;
  --mixin-zAM7IRsDNLbN8k_white-space: pre-wrap;
  --mixin-2txFMM1785r47S_display: flex;
  --mixin-2txFMM1785r47S_flex-direction: column;
  --mixin-2txFMM1785r47S_align-items: stretch;
  --mixin-2txFMM1785r47S_justify-content: flex-start;
  --mixin-2txFMM1785r47S_list-style-position: outside;
  --mixin-2txFMM1785r47S_padding-left: 40px;
  --mixin-2txFMM1785r47S_position: relative;
  --mixin-2txFMM1785r47S_list-style-type: disc;
  --mixin-2txFMM1785r47S_white-space: pre-wrap;
  --mixin-ucmMlmZFaEsjWK_display: flex;
  --mixin-ucmMlmZFaEsjWK_flex-direction: column;
  --mixin-ucmMlmZFaEsjWK_align-items: stretch;
  --mixin-ucmMlmZFaEsjWK_justify-content: flex-start;
  --mixin-ucmMlmZFaEsjWK_list-style-position: outside;
  --mixin-ucmMlmZFaEsjWK_padding-left: 40px;
  --mixin-ucmMlmZFaEsjWK_position: relative;
  --mixin-ucmMlmZFaEsjWK_list-style-type: decimal;
  --mixin-ucmMlmZFaEsjWK_white-space: pre-wrap;
  --mixin-t4alvyIOp1-cS-_color: #000000;
  --mixin-t4alvyIOp1-cS-_font-size: 20px;
  --mixin-t4alvyIOp1-cS-_font-weight: 600;
  --mixin-t4alvyIOp1-cS-_letter-spacing: -0.3px;
  --mixin-t4alvyIOp1-cS-_line-height: 1.5;
  --mixin-t4alvyIOp1-cS-_white-space: pre-wrap;
  --mixin-8vEUvwb0HWpRmB_color: #000000;
  --mixin-8vEUvwb0HWpRmB_font-size: 16px;
  --mixin-8vEUvwb0HWpRmB_font-weight: 600;
  --mixin-8vEUvwb0HWpRmB_line-height: 1.5;
  --mixin-8vEUvwb0HWpRmB_white-space: pre-wrap;
  --mixin-5guqrm3dmcvzey_color: #3291ff;
  --mixin-5guqrm3dmcvzey_white-space: pre-wrap;
  --mixin-gDAaQZ9KkZU-qO_white-space: pre-wrap;
  --mixin-A4Z6fnjQ3Vzcmt_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-zG97ezVrJLcJ0W_font-family);
  font-size: var(--mixin-zG97ezVrJLcJ0W_font-size);
  font-weight: var(--mixin-zG97ezVrJLcJ0W_font-weight);
  font-style: var(--mixin-zG97ezVrJLcJ0W_font-style);
  color: var(--mixin-zG97ezVrJLcJ0W_color);
  text-align: var(--mixin-zG97ezVrJLcJ0W_text-align);
  text-transform: var(--mixin-zG97ezVrJLcJ0W_text-transform);
  line-height: var(--mixin-zG97ezVrJLcJ0W_line-height);
  letter-spacing: var(--mixin-zG97ezVrJLcJ0W_letter-spacing);
  white-space: var(--mixin-zG97ezVrJLcJ0W_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-E9v5Hbltw_n9Bb_color);
  font-weight: var(--mixin-E9v5Hbltw_n9Bb_font-weight);
  font-size: var(--mixin-E9v5Hbltw_n9Bb_font-size);
  line-height: var(--mixin-E9v5Hbltw_n9Bb_line-height);
  letter-spacing: var(--mixin-E9v5Hbltw_n9Bb_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EzU5KhNF7l-x4X_color);
  font-size: var(--mixin-EzU5KhNF7l-x4X_font-size);
  font-weight: var(--mixin-EzU5KhNF7l-x4X_font-weight);
  letter-spacing: var(--mixin-EzU5KhNF7l-x4X_letter-spacing);
  line-height: var(--mixin-EzU5KhNF7l-x4X_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hRYpdYIBqmiHyJ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9wQTw2H9Tjb3QD_color);
  font-size: var(--mixin-9wQTw2H9Tjb3QD_font-size);
  font-weight: var(--mixin-9wQTw2H9Tjb3QD_font-weight);
  line-height: var(--mixin-9wQTw2H9Tjb3QD_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-X882DzhiCNrHXI_color);
  font-size: var(--mixin-X882DzhiCNrHXI_font-size);
  font-weight: var(--mixin-X882DzhiCNrHXI_font-weight);
  letter-spacing: var(--mixin-X882DzhiCNrHXI_letter-spacing);
  line-height: var(--mixin-X882DzhiCNrHXI_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-EqCFtUEVCQbweY_font-family);
  border-radius: var(--mixin-EqCFtUEVCQbweY_border-top-left-radius)
    var(--mixin-EqCFtUEVCQbweY_border-top-right-radius)
    var(--mixin-EqCFtUEVCQbweY_border-bottom-right-radius)
    var(--mixin-EqCFtUEVCQbweY_border-bottom-left-radius);
  padding: var(--mixin-EqCFtUEVCQbweY_padding-top)
    var(--mixin-EqCFtUEVCQbweY_padding-right)
    var(--mixin-EqCFtUEVCQbweY_padding-bottom)
    var(--mixin-EqCFtUEVCQbweY_padding-left);
  border-top: var(--mixin-EqCFtUEVCQbweY_border-top-width)
    var(--mixin-EqCFtUEVCQbweY_border-top-style)
    var(--mixin-EqCFtUEVCQbweY_border-top-color);
  border-right: var(--mixin-EqCFtUEVCQbweY_border-right-width)
    var(--mixin-EqCFtUEVCQbweY_border-right-style)
    var(--mixin-EqCFtUEVCQbweY_border-right-color);
  border-bottom: var(--mixin-EqCFtUEVCQbweY_border-bottom-width)
    var(--mixin-EqCFtUEVCQbweY_border-bottom-style)
    var(--mixin-EqCFtUEVCQbweY_border-bottom-color);
  border-left: var(--mixin-EqCFtUEVCQbweY_border-left-width)
    var(--mixin-EqCFtUEVCQbweY_border-left-style)
    var(--mixin-EqCFtUEVCQbweY_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--I5xUVNFBXAZ7s_color);
  padding-left: var(--mixin--I5xUVNFBXAZ7s_padding-left);
  border-left: var(--mixin--I5xUVNFBXAZ7s_border-left-width)
    var(--mixin--I5xUVNFBXAZ7s_border-left-style)
    var(--mixin--I5xUVNFBXAZ7s_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zAM7IRsDNLbN8k_font-family);
  border-radius: var(--mixin-zAM7IRsDNLbN8k_border-top-left-radius)
    var(--mixin-zAM7IRsDNLbN8k_border-top-right-radius)
    var(--mixin-zAM7IRsDNLbN8k_border-bottom-right-radius)
    var(--mixin-zAM7IRsDNLbN8k_border-bottom-left-radius);
  padding: var(--mixin-zAM7IRsDNLbN8k_padding-top)
    var(--mixin-zAM7IRsDNLbN8k_padding-right)
    var(--mixin-zAM7IRsDNLbN8k_padding-bottom)
    var(--mixin-zAM7IRsDNLbN8k_padding-left);
  border-top: var(--mixin-zAM7IRsDNLbN8k_border-top-width)
    var(--mixin-zAM7IRsDNLbN8k_border-top-style)
    var(--mixin-zAM7IRsDNLbN8k_border-top-color);
  border-right: var(--mixin-zAM7IRsDNLbN8k_border-right-width)
    var(--mixin-zAM7IRsDNLbN8k_border-right-style)
    var(--mixin-zAM7IRsDNLbN8k_border-right-color);
  border-bottom: var(--mixin-zAM7IRsDNLbN8k_border-bottom-width)
    var(--mixin-zAM7IRsDNLbN8k_border-bottom-style)
    var(--mixin-zAM7IRsDNLbN8k_border-bottom-color);
  border-left: var(--mixin-zAM7IRsDNLbN8k_border-left-width)
    var(--mixin-zAM7IRsDNLbN8k_border-left-style)
    var(--mixin-zAM7IRsDNLbN8k_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-2txFMM1785r47S_display);
  flex-direction: var(--mixin-2txFMM1785r47S_flex-direction);
  align-items: var(--mixin-2txFMM1785r47S_align-items);
  justify-content: var(--mixin-2txFMM1785r47S_justify-content);
  list-style-position: var(--mixin-2txFMM1785r47S_list-style-position);
  padding-left: var(--mixin-2txFMM1785r47S_padding-left);
  position: var(--mixin-2txFMM1785r47S_position);
  list-style-type: var(--mixin-2txFMM1785r47S_list-style-type);
  flex-column-gap: var(--mixin-2txFMM1785r47S_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ucmMlmZFaEsjWK_display);
  flex-direction: var(--mixin-ucmMlmZFaEsjWK_flex-direction);
  align-items: var(--mixin-ucmMlmZFaEsjWK_align-items);
  justify-content: var(--mixin-ucmMlmZFaEsjWK_justify-content);
  list-style-position: var(--mixin-ucmMlmZFaEsjWK_list-style-position);
  padding-left: var(--mixin-ucmMlmZFaEsjWK_padding-left);
  position: var(--mixin-ucmMlmZFaEsjWK_position);
  list-style-type: var(--mixin-ucmMlmZFaEsjWK_list-style-type);
  flex-column-gap: var(--mixin-ucmMlmZFaEsjWK_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-t4alvyIOp1-cS-_color);
  font-size: var(--mixin-t4alvyIOp1-cS-_font-size);
  font-weight: var(--mixin-t4alvyIOp1-cS-_font-weight);
  letter-spacing: var(--mixin-t4alvyIOp1-cS-_letter-spacing);
  line-height: var(--mixin-t4alvyIOp1-cS-_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-8vEUvwb0HWpRmB_color);
  font-size: var(--mixin-8vEUvwb0HWpRmB_font-size);
  font-weight: var(--mixin-8vEUvwb0HWpRmB_font-weight);
  line-height: var(--mixin-8vEUvwb0HWpRmB_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-5guqrm3dmcvzey_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
